@model Kentico.Community.Portal.Web.Features.Accounts.MyAccountViewModel

<vc:page-heading page="Model" />

<main>
    <div class="c-section pb-6">
        <div class="container">
            <div class="grid gap-3">
                <div class="g-col-12 g-col-lg-6 c-card bg-purple-100 rounded p-3">
                    <partial name="~/Features/Accounts/_AvatarForm.cshtml" model="Model.AvatarForm" />
                </div>

                <div
                    class="g-col-12 g-col-lg-6 c-card rounded bg-white border border-3 border-purple-100 d-flex flex-column gap-3 c-card nopic">
                    <div class="c-card_inner overflow-y-auto">
                        <h5>
                            Profile Information
                        </h5>

                        <div class="c-card_content">
                            <dl class="grid">
                                <dt>Username:</dt>
                                <dd>@Model.Username</dd>

                                <dt>Email:</dt>
                                <dd>@Model.Email</dd>

                                <dt>Joined:</dt>
                                <dd>@Model.DateCreated.ToString("d", View.Culture)</dd>

                                <dt>Public profile:</dt>
                                <dd>
                                    <a href="@Model.ProfileLinkURL">
                                        @Model.ProfileLinkURL
                                    </a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <partial name="~/Features/Accounts/_BadgesForm.cshtml" model="Model.BadgesForm" />
                </div>

                <div class="g-col-12 g-col-lg-6">
                    <partial name="~/Features/Accounts/_ProfileForm.cshtml" model="Model.Profile" />
                </div>

                <div class="g-col-12 g-col-lg-6">
                    <partial name="~/Features/Accounts/_PasswordForm.cshtml" model="Model.PasswordInfo" />
                </div>
            </div>
        </div>
    </div>
</main>
