@using Kentico.Community.Portal.Web.Components.PageBuilder.Widgets.Testimonial
@model TestimonialWidgetViewModel

@{
    string wrapperThemeClass = Model.Theme switch
    {
        TestimonialThemes.Neutral => "testimonial-widget--neutral",
        TestimonialThemes.Secondary => "testimonial-widget--secondary",
        TestimonialThemes.Primary or _ => "testimonial-widget--primary",
    };

    string themeAttribute = Model.Theme switch
    {
        TestimonialThemes.Neutral => "neutral",
        TestimonialThemes.Secondary => "secondary",
        TestimonialThemes.Primary or _ => "primary",
    };

    string layoutClass = Model.Layout switch
    {
        TestimonialLayouts.Featured => "testimonial-widget--featured",
        TestimonialLayouts.Simple or _ => "testimonial-widget--simple",
    };

}

<article class="testimonial-widget @layoutClass @wrapperThemeClass border rounded-3 p-3 p-lg-4"
         data-theme="@themeAttribute" xpc-preview-outline="@Model.ComponentName">
    @if (Model.ShouldShowTitle)
    {
        <h3 class="testimonial-widget__title h4 mb-2 mt-0">@Model.Title</h3>
    }

    @if (Model.HasMessage)
    {
        <p class="testimonial-widget__quote @(Model.ShouldShowAttribution ? "mb-3" : "mb-0")">“@Model.Message”</p>
    }

    @if (Model.ShouldShowAttribution)
    {
        <div class="testimonial-widget__attribution d-flex align-items-center gap-3">
            @if (Model.ShowPhoto && Model.HasPhoto)
            {
                @if (Model.UseMemberAvatar)
                {
                    <img src="" class="testimonial-widget__photo testimonial-widget__photo--small rounded-circle"
                         xpc-member-avatar="@Model.MemberID" alt="@Model.Name" />
                }
                else
                {
                    <img class="testimonial-widget__photo testimonial-widget__photo--small rounded-circle"
                         xpc-image-asset="Model.Photo" xpc-image-asset-responsive="true" sizes="40px" alt="@Model.Name" />
                }
            }

            <div>
                @if (Model.ShouldShowName)
                {
                    @if (Model.ShouldLinkName)
                    {
                        <a href="@Model.MemberProfileUrl"
                           class="testimonial-widget__name fw-semibold text-decoration-none">@Model.Name</a>
                    }
                    else
                    {
                        <span class="testimonial-widget__name fw-semibold">@Model.Name</span>
                    }
                }

                @if (Model.ShouldShowEmployment)
                {
                    <span class="testimonial-widget__employment d-block small">
                        @Model.Employment
                    </span>
                }
            </div>
        </div>
    }
</article>
