@using Kentico.Community.Portal.Web.Components.PageBuilder.Widgets.Files
@using Microsoft.AspNetCore.Mvc.Rendering
@using System.Text.Encodings.Web

@model FileWidgetViewModel

@{
    string alignmentClasses = Model.Alignment switch
    {
        LinkAlignments.Center => "justify-content-center",
        LinkAlignments.Right => "justify-content-end",
        LinkAlignments.Left or _ => "justify-content-start"
    };

    string paddingClasses = Model.Padding switch
    {
        LinkPaddings.Small => "p-2",
        LinkPaddings.Medium => "p-3",
        LinkPaddings.Large => "p-5",
        LinkPaddings.None or _ => "",
    };

    string linkClasses = Model.Design switch
    {
        LinkDesigns.Button => "btn btn-primary btn-lg",
        LinkDesigns.Image => "",
        LinkDesigns.Link or _ => ""
    };
}

<div class="d-flex @paddingClasses @alignmentClasses" xpc-preview-outline="@Model.ComponentName">
    <a href="@Model.Asset.Url" id="@Model.AnchorSlug" class="d-flex align-items-center @linkClasses"
        aria-label="@Model.ShortDescription">
        @if (Model.Design == LinkDesigns.Image)
        {
            <div class="d-flex flex-column align-items-center">
                <svg class="icon" style="--icon-font-size: 3em;" aria-hidden="true">
                    <use xlink:href="/img/icons.svg#file" asp-append-version></use>
                </svg>
                <span>@Model.Label</span>
            </div>
        }
        else
        {
            @Model.Label
            <svg class="icon ms-1" style="--icon-font-size: 0.75em;" aria-hidden="true">
                <use xlink:href="/img/icons.svg#external-link" asp-append-version></use>
            </svg>
        }
    </a>
</div>