@using Kentico.Activities.Web.Mvc

<!DOCTYPE html>

<html lang="en">

<head id="head">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta name="view-transition" content="same-origin">

    <link rel="preload" href='@ClientAssets.ViteAssetPath("styles/style.scss")' as="style" />
    <link rel="modulepreload" href='@ClientAssets.ViteAssetPath("js/main.js")' as="script" />

    <vc:page-custom-meta />

    <link rel="stylesheet" href='@ClientAssets.ViteAssetPath("styles/style.scss")' />

    @if (ClientAssets.PrismRequired)
    {
        <link rel="stylesheet" href="/vendor/css/prism.min.css" asp-append-version="true">
    }

    @Html.Kentico().ActivityLoggingScriptV2()

    <page-builder-styles />

    <vc:cookies-init />

    <script>
        window.asyncReady = function (callback) {
            document.readyState === "interactive" || document.readyState === "complete" ? callback() : document.addEventListener("DOMContentLoaded", callback);
        };
    </script>
</head>

<body>
    <vc:navigation />

    <div id="pageContent">
        @RenderBody()
    </div>

    <vc:footer />

    <div id="toastContainer" class="fixed-bottom d-flex flex-column align-items-end p-3" data-ktc-search-exclude>
        <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" toast>
            <div class="d-flex">
                <div class="toast-body" toast-message></div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <script type="module" src='@ClientAssets.ViteAssetPath("js/main.js")'></script>

    @if (ClientAssets.PrismRequired)
    {
        <script src="/vendor/js/prism.min.js" asp-append-version="true"></script>
    }

    <page-builder-scripts />
</body>

</html>