@using Kentico.Community.Portal.Web.Components.ViewComponents.PageCustomMeta

@model PageCustomMetaViewModel

<title>@Model.Title</title>

@if (Model.OGImageURL.TryGetValue(out string? ogImageURL))
{
    <meta name="image" property="og:image" content="@ogImageURL">
}

<meta name="title" property="og:title" content="@Model.Title" />
<meta name="description" property="og:description" content="@Model.Description" />
<meta name="type" property="og:type" content="website" />
<meta name="url" property="og:url" content="@Model.URL" />
<meta name="site_name" property="og:site_name" content="@Model.SiteName">

<meta name="apple-mobile-web-app-title" content="@Model.Title">
<meta name="mobile-web-app-capable" content="yes">
<meta name="author" content="Kentico software s.r.o.">

@if (Model.MetaRobotsContent.TryGetValue(out string? robots))
{
    <meta name="robots" content="@robots">
}

<link rel="manifest" href="/manifest/site.webmanifest">
<link rel="apple-touch-icon" sizes="180x180" href="/manifest/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/manifest/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/manifest/favicon-16x16.png">
<link rel="mask-icon" href="/manifest/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

@if (Model.CanonicalURL.TryGetValue(out var url))
{
    <link name="canonical" rel="canonical" href="@url">
}

@if (Model.CaptchaSiteKey.TryGetValue(out string? recaptchaKey))
{
    <meta name="captchaSiteKey" content="@recaptchaKey">
    <script src="https://www.google.com/recaptcha/api.js?render=@recaptchaKey" async defer></script>
}

<meta name="htmx-config" includeAspNetAntiforgeryToken="true" />