@model Kentico.Community.Portal.Web.Components.PageBuilder.Widgets.LinkList.LinkListWidgetViewModel

<div xpc-preview-outline="Link List Widget" xpc-preview-outline-remove-element="true">
  @if (!string.IsNullOrWhiteSpace(Model.Label))
  {
    string slug = View.SlugHelper.GenerateSlug($"linkList-{Model.Label}");

    <h3 id="@slug" class="heading">
      @Model.Label <a title="Navigate to this heading" aria-label="Navigate to this heading" class="heading-link"
        href="#@(slug)"></a>
    </h3>
  }

  <ul>
    @foreach (var link in Model.Links)
    {
      <li>
        <a href="@link.LinkContentPathOrURL"> @link.BasicItemTitle </a>
        <p><small>@link.BasicItemShortDescription</small></p>
      </li>
    }
  </ul>
</div>
