@model Kentico.Community.Portal.Web.Components.PageBuilder.Widgets.LinkList.LinkListWidgetViewModel

<aside class="border rounded-3 p-4 mb-5" xpc-preview-outline="Link List Widget"
    aria-label="@(!string.IsNullOrWhiteSpace(Model.Label) ? Model.Label : "Link list")">
    @if (!string.IsNullOrWhiteSpace(Model.Label))
    {
        <header class="mb-4">
            <h4 class="mb-0">
                @Model.Label
            </h4>
        </header>
    }

    @for (int i = 0; i < Model.Links.Count; i++)
    {
        var link = Model.Links[i];
        string itemClass = i == 0
        ? "pb-3"
        : "border-top pt-3 pb-3";

        <div class="@itemClass">
            <h4 class="h4 mb-2 text-primary">
                <a href="@link.LinkContentPathOrURL" id="link-@link.SystemFields.ContentItemGUID.ToString("N")"
                    class="text-decoration-none" aria-describedby="desc-@link.SystemFields.ContentItemGUID.ToString("N")">
                    @link.BasicItemTitle
                </a>
            </h4>

            <p class="mb-0 small text-muted" id="desc-@link.SystemFields.ContentItemGUID.ToString("N")">
                @link.BasicItemShortDescription
            </p>
        </div>
    }
</aside>
