@using Kentico.Community.Portal.Web.Features.QAndA

@model QAndAAuthorViewModel

@if (Model.ID == 0)
{
    <div class="page-QandA__author-container">
        <div class="page-QandA__author">
            <div class="page-QandA__avatar-image-sm-div">
                <img class="page-QandA__avatar-image-sm img-fluid" xpc-member-avatar="@Model.ID" />
            </div>
            <span class="ms-1">
                @Model.FormattedName
            </span>
        </div>
    </div>

    return;
}

<div>
    <div class="page-QandA__author-container">
        <a class="page-QandA__author" asp-controller="Member" asp-action="MemberDetail" asp-route-memberID="@Model.ID">
            <div class="page-QandA__avatar-image-sm-div">
                <img class="page-QandA__avatar-image-sm img-fluid" xpc-member-avatar="@Model.ID" />
            </div>
            <span class="ms-1">
                @Model.FormattedName
            </span>
        </a>
    </div>
    <vc:member-badges badges=@Model.SelectedBadges />
</div>
