@using CMS.Helpers
@using Kentico.Community.Portal.Web.Components.Widgets.Video

@model VideoWidgetViewModel

@{
    string alignmentClass = Model.Alignment switch
    {
        Alignments.Center => "text-center",
        Alignments.Left or _ => ""
    };
}

<div class="@alignmentClass" xpc-preview-outline="@Model.ComponentName">
    <figure>
        <video class="w-100" controls>
            <source src="@Model.Video.VideoContentAsset.Url" type="@Model.Video.VideoContentAssetMimeType">
            Your browser does not support the video tag.
        </video>
        @if (Model.ShowDescriptionAsCaption)
        {
            <figcaption class="figure-caption">
                @Model.Video.MediaItemShortDescription
            </figcaption>
        }
    </figure>
</div>
