@using Kentico.Community.Portal.Web.Features.Registration

@model EmailConfirmationViewModel

@*
    This view is returned as a partial and embedded in an existing layout, so it does not need its own <section> wrapper.
    See PasswordRecoveryController.RequestRecoveryEmail
*@
@if (Model.State == EmailConfirmationState.Failure_NotYetConfirmed)
{
    <form hx-post hx-controller="Registration" hx-action="ResendVerificationEmail" hx-swap="outerHTML" hx-target=""
        hx-route-username="@Model.Username" method="post" hx-disabled-elt="find fieldset">
        <p>@Model.Message</p>

        <fieldset hx-indicator="this" xpc-readonly-disabled>
            <button type="submit" class="btn btn-primary mt-3" xpc-loading-button>
                @Model.SendButtonText
            </button>

            <vc:read-only-mode-notification />
        </fieldset>
    </form>

    return;
}

<section class="section section--default">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-xxl-9">
                <div class="main">
                    <h1 test-id="confirmationMessage" class="text-center k-dot">@Model.Message</h1>

                    @if (Model.State == EmailConfirmationState.Success_Confirmed || Model.State == EmailConfirmationState.Success_AlreadyConfirmed)
                    {
                        <p class="text-center fs-3">
                            @if (Model.State == EmailConfirmationState.Success_AlreadyConfirmed)
                            {
                                <text>Your email is already verified.</text> <br>
                            }
                            
                            You may now <a asp-controller="Authentication" asp-action="Login" test-id="confirmationSignIn">sign in</a>.
                        </p>
                    }
                    else
                    {
                        <form class="text-center" hx-post hx-controller="Registration" hx-action="ResendVerificationEmail" hx-swap="outerHTML" hx-target=""
                            hx-route-username="@Model.Username" method="post" hx-disabled-elt="find fieldset">
                            <fieldset hx-indicator="this">
                                <button type="submit" class="btn btn-primary mt-3" xpc-loading-button>
                                    @Model.SendButtonText
                                </button>
                            </fieldset>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
