@using Kentico.Community.Portal.Web.Components.FormComponents
@using Kentico.Forms.Web.Mvc
@using Microsoft.AspNetCore.Html
@using Kentico.Forms.Web.Mvc.Internal
@using Kentico.Community.Portal.Web.Infrastructure

@model Kentico.Forms.Web.Mvc.FormComponent

@inject IFormBuilderContext FormBuilderContext

@{
    var formConfiguration = ViewData.Kentico().GetFormFieldRenderingConfiguration();
    bool showOnWebsite = Model is not IHiddenInputComponent
    && (Model is not IHideableComponent cmpt || !cmpt.IsHidden);

    // Render all components in Builder/Value mode
    bool renderComponent = FormBuilderContext.Mode != FormBuilderMode.Live || showOnWebsite;
}

@if (renderComponent)
{
    @Html.Kentico().BeginWrappingElement(formConfiguration.RootConfiguration)
}

@if (renderComponent && formConfiguration.ShowSmartFieldIcon)
{
    @Html.Kentico().BeginWrappingElement(formConfiguration.SmartFieldIconWrapperConfiguration)
    @Html.Kentico().SmartFieldIcon(Model, formConfiguration.SmartFieldIconHtmlAttributes)
    @Html.Kentico().EndWrappingElement(formConfiguration.SmartFieldIconWrapperConfiguration)
}

@Html.Kentico().BeginWrappingElement(formConfiguration.LabelWrapperConfiguration)

@if (renderComponent)
{
    @Html.Kentico().Label(Model, formConfiguration.LabelHtmlAttributes, formConfiguration.ColonAfterLabel)
}
@Html.Kentico().EndWrappingElement(formConfiguration.LabelWrapperConfiguration)

@Html.Kentico().BeginWrappingElement(formConfiguration.EditorWrapperConfiguration)

@Html.Kentico().BeginWrappingElement(formConfiguration.ComponentWrapperConfiguration)

@{
    IHtmlContent editorHtml = HtmlString.Empty;

    editorHtml = await Html.Kentico().EditorAsync(Model, formConfiguration.EditorHtmlAttributes);
}

@editorHtml

@if (renderComponent)
{
    @Html.Kentico().ValidationMessage(Model, formConfiguration.SuppressValidationMessages)
}
@Html.Kentico().EndWrappingElement(formConfiguration.ComponentWrapperConfiguration)

@if (renderComponent)
{
    @Html.Kentico().WrappedExplanationText(Model.BaseProperties.ExplanationText,
        formConfiguration.ExplanationTextWrapperConfiguration)
}

@if (FormBuilderContext.Mode != FormBuilderMode.Live && !showOnWebsite)
{
    <div>
        <div class="ktc-explanation-text"
            style="background-color: var(--color-suggestion-background-highlighted); padding: 0.5rem; border-radius: 0.75rem;">
            This is a
            hidden field on
            the live website.</div>
    </div>
}

@Html.Kentico().EndWrappingElement(formConfiguration.EditorWrapperConfiguration)

@if (renderComponent)
{
    @Html.Kentico().EndWrappingElement(formConfiguration.RootConfiguration)
}
