@using Kentico.Community.Portal.Web.Features.Members

@model MemberBadgesViewModel

@{
    if (Model.Badges.Count == 0)
    {
        return;
    }

    string badgeClasses = Model.DisplayStyle switch
    {
        BadgeDisplayStyle.Full => "badge d-flex align-items-center gap-1 fw-medium",
        BadgeDisplayStyle.IconOnly or _ => "icon",
    };
}

<div class="flex wrap gap-1 mt-1 flex-wrap">
    @foreach (var badge in Model.Badges)
    {
        <span class="@badgeClasses" theme="secondary-300" title="@badge.MemberBadgeDescription"
            aria-label="@badge.MemberBadgeDescription">
            <img xpc-badge="@badge" />
            @if (Model.DisplayStyle == BadgeDisplayStyle.Full)
            {
                <span>@badge.MemberBadgeDisplayName</span>
            }
        </span>
    }
</div>