@model Kentico.Community.Portal.Web.Components.PageBuilder.Widgets.CommunityGroupCard.CommunityGroupViewModel

<article class="border rounded-3 p-3 widget-card" aria-label="Community group: @Model.Title">
    <img xpc-image="Model.Banner" class="card-img-top mb-3" />
    <header>
        <h3 class="h3 mt-2 pt-1">
            @if (Model.URL.TryGetValue(out string? url))
            {
                <a href="@url" class="text-dark text-decoration-none">@Model.Title</a>
            }
            else
            {
                <text>@Model.Title</text>
            }
        </h3>
        <p class="mt-2">
            <small class="text-muted">
                @if (Model.Address.StateOrProvince.TryGetValue(out string? stateOrProvince))
                {
                    <text>@Model.Address.City, @stateOrProvince,</text>
                }
                else
                {
                    <text>@Model.Address.City,</text>
                }
                @Model.Address.Country
            </small>
        </p>
    </header>
    <p class="mt-2">@Model.Description</p>
</article>