@model Kentico.Community.Portal.Web.Components.Widgets.LinkList.LinkListWidgetViewModel

<div class="h-100" xpc-preview-outline="Link List Widget">
  @if (!string.IsNullOrWhiteSpace(Model.Label))
  {
    string slug = View.SlugHelper.GenerateSlug($"linkList-{Model.Label}");

    <h3 id="@slug">
      @Model.Label <span class="ml-2"><a href="#@slug">#</a></span>
    </h3>
  }

  <ul class="h-100 ps-0">
    @foreach (var link in Model.Links)
    {
      <li class="list-unstyled d-flex flex-column h-100 justify-content-between">
        <p class="mb-1">
          <small>@link.LinkContentShortDescription</small>
        </p>
        <div>
          <a class="c-link" href="@link.LinkContentPathOrURL">
            @link.LinkContentLabel
            <svg class="c-icon chevron">
              <use xlink:href="/img/icons.svg#chevron-right" asp-append-version></use>
            </svg>
          </a>
        </div>
      </li>
    }
  </ul>
</div>
