@using Kentico.Community.Portal.Web.Features.Blog

@model BlogPostListWidgetViewModel

<div class="c-section">
    <div class="container">

        @if (Model.Heading is not null)
        {
            <h3>@Model.Heading</h3>
        }

        <form method="get" id="blogSearchForm">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-lg-7">
                    <div class="input-group">
                        <input asp-for="@Model.Query" type="text" class="form-control search rounded-pill"
                            placeholder="Search by tag, name or phrase" aria-label="Search"
                            aria-describedby="submitSearch">
                        <button class="btn btn-primary focus-ring text-uppercase" type="submit"
                            id="submitSearch">Filter</button>

                    </div>
                </div>
            </div>
            <div class="c-group tags justify-content-center mt-3">
                @foreach (var facet in Model.Facets)
                {
                    string colorClass = facet.IsSelected
                    ? "secondary"
                    : "gray";
                    string selectedAttr = facet.IsSelected
                    ? "facet-selected"
                    : "";
                    <button class="c-tag btn focus-ring @colorClass" facet-value="@facet.Label.ToLower()" @selectedAttr
                        style="--bs-focus-ring-color: rgba(var(--bs-secondary-rgb), .25)">
                        <span>@facet.Label (@facet.Value)</span>
                    </button>
                }
            </div>
            <div class="d-flex justify-content-end align-items-center gap-3 mt-3">
                <label asp-for="@Model.SortBy" class="form-label text-nowrap mb-0">@HtmlLocalizer["Sort by"]</label>
                <select asp-for="@Model.SortBy" class="form-select form-select-sm w-auto" search-sort-by>
                    <option value="relevance">@HtmlLocalizer["Relevance"]</option>
                    <option value="date">@HtmlLocalizer["Date Published"]</option>
                </select>
            </div>
            <input asp-for="@Model.Facet" selected-facet-value />
            <input asp-for="@Model.Page" />
        </form>

        @if (Model.BlogPosts.Count == 0 && Model.TotalPages == 0)
        {
            <div>
                <p>No results could be found.</p>
            </div>
        }

        @foreach (var post in Model.BlogPosts)
        {
            <div class="c-card article nopic mt-3">
                <div class="c-card_inner grid">
                    <div class="c-card_title">
                        <h4>
                            <a class="slash" href="@post.LinkPath">@post.Title</a>
                        </h4>
                    </div>
                    <div class="c-card_footer">
                        <small class="me-1">Written on @post.Date.ToString("d", View.Culture) by</small>
                        @if (post.Author.ID > 0)
                        {
                            <a asp-controller="Member" asp-action="MemberDetail" asp-route-memberID="@post.Author.ID"
                                class="c-tag secondary invert user">
                                @if (post.Author.Avatar is ImageAssetViewModel image)
                                {
                                    <img src="@image.URLData.WithSizeConstraint(SizeConstraint.MaxWidthOrHeight(24)).RelativePath"
                                        alt="@image.AltText" width="@image.Dimensions.Width" height="@image.Dimensions.Height"
                                        title="@image.Title" class="c-tag_icon me-1" />
                                }
                                <span>@post.Author.Name</span>
                            </a>
                        }
                        else
                        {
                            var image = post.Author.Avatar;

                            if (image is not null)
                            {
                                <img src="@image.URLData.WithSizeConstraint(SizeConstraint.MaxWidthOrHeight(24)).RelativePath"
                                    alt="@image.AltText" width="@image.Dimensions.Width" height="@image.Dimensions.Height"
                                    title="@image.Title" class="c-tag_icon me-1" />
                            }

                            <span>@post.Author.Name</span>
                        }

                    </div>
                    <div class="c-card_content">
                        <p>
                            @post.ShortDescription
                        </p>
                    </div>
                    @if (post.Taxonomy is string taxonomy)
                    {
                        <div class="c-card_tags">
                            <div class="c-group tags">
                                <span class="c-tag info">@taxonomy</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        <vc:pagination model="Model" />

    </div>
</div>