@using EnumsNET
@using Kentico.Community.Portal.Web.Features.QAndA.Search

@model QAndASearchViewModel

<div class="category-filters d-none d-lg-block g-col-3">
    <div class="mb-5">
        <h4>Type @(Model.DiscussionTypesSelected > 0 ? $"({Model.DiscussionTypesSelected})" : "")</h4>
        @foreach (var discussionType in Model.DiscussionTypes)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="discussionTypes" xpc-facet-field="discussionType" />
                <label class="form-check-label" for="discussionTypes-@discussionType.Value">@discussionType.Label
                    (@discussionType.Count)</label>
            </div>
        }
    </div>

    <div class="mb-5">
        <h4>Answers @(Model.DiscussionStatesSelected > 0 ? $"({Model.DiscussionStatesSelected})" : "")</h4>
        @foreach (var state in Model.DiscussionStates)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="discussionStates" xpc-facet-field="state" />
                <label class="form-check-label" for="discussionStates-@state.Value">@state.Label (@state.Count)</label>
            </div>
        }
    </div>

    <div>
        <h4>Topic @(Model.DXTopicsSelected > 0 ? $"({Model.DXTopicsSelected})" : "")</h4>
        @foreach (var topic in Model.DXTopics)
        {
            <div class="mb-2">
                <h5>@topic.Label @(topic.Count > 0 ? $"({topic.Count})" : "")</h5>
                <div class="p-2">
                    @foreach (var child in topic.Facets)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="dxTopics" xpc-facet-field="child" />
                            <label class="form-check-label" for="dxTopics-@child.Value">@child.Label (@child.Count)</label>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>