@using EnumsNET
@using Kentico.Community.Portal.Web.Features.QAndA.Search

@model QAndASearchViewModel

<button class="btn btn-outline-primary align-self-center d-lg-none text-uppercase w-100" type="button"
    data-bs-toggle="collapse" data-bs-target="#searchFilters" aria-expanded="true" aria-controls="searchFilters">
    Show filters @(Model.TotalAppliedFilters > 0 ? $"({Model.TotalAppliedFilters})" : "")
</button>

<div class="d-lg-none collapse w-100" id="searchFilters" data-bs-toggle-collapse>
    <div class="d-flex flex-column gap-4">
        <div>
            <label asp-for="@Model.SortBy" for="SortBy-mobile" class="form-label text-nowrap mb-0">Sort by</label>
            <select asp-for="@Model.SortBy" id="SortBy-mobile" class="form-select form-select-sm w-auto" select-field
                select-field-mobile>
                <option value="activitydate">Latest activity</option>
                <option value="relevance">Relevance</option>
                <option value="publishdate">Latest question</option>
                <option value="responsedate">Latest response</option>
            </select>
        </div>

        <div>
            <h4>Type @(Model.DiscussionTypesSelected > 0 ? $"({Model.DiscussionTypesSelected})" : "")</h4>
            @foreach (var discussionType in Model.DiscussionTypes)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="discussionTypes" xpc-facet-field="discussionType"
                        xpc-facet-field-mobile="true" />
                    <label class="form-check-label" for="discussionTypesM-@discussionType.Value">@discussionType.Label
                        (@discussionType.Count)</label>
                </div>
            }
        </div>

        <div>
            <h4>Answers @(Model.DiscussionStatesSelected > 0 ? $"({Model.DiscussionStatesSelected})" : "")</h4>
            @foreach (var state in Model.DiscussionStates)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="discussionStates" xpc-facet-field="state"
                        xpc-facet-field-mobile="true" />
                    <label class="form-check-label" for="discussionStatesM-@state.Value">@state.Label
                        (@state.Count)</label>
                </div>
            }
        </div>

        <div>
            <h4>Topic @(Model.DXTopicsSelectedCount > 0 ? $"({Model.DXTopicsSelectedCount})" : "")</h4>
            @foreach (var topic in Model.DXTopics)
            {
                <div class="mb-2">
                    <h5>@topic.Label</h5>
                    @foreach (var child in topic.Facets)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="dxTopics" xpc-facet-field="child"
                                xpc-facet-field-mobile="true" />
                            <label class="form-check-label" for="dxTopicsM-@child.Value">@child.Label (@child.Count)</label>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>