@using EnumsNET
@using Kentico.Community.Portal.Web.Features.QAndA.Search

@model QAndASearchViewModel

@foreach (var discussion in Model.Discussions)
{
    <article
        class="border rounded-3 p-3 d-grid overflow-y-auto gap-1 qa-question-card @(discussion.HasAcceptedResponse ? "qa-question-card--success" : "")"
        style="grid-template-columns: 1fr; grid-template-areas: 'card-content' 'card-footer';"
        aria-describedby="responses-@discussion.ID">
        <div class="d-md-flex justify-content-between" style="grid-area: card-content;">
            <div>
                @if (discussion.HasAcceptedResponse)
                {
                    <div class="d-flex align-items-center text-success mb-2" role="status"
                        aria-label="This question has an accepted answer">
                        <svg class="me-2" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                            <use xlink:href="/img/icons.svg#check" asp-append-version></use>
                        </svg>
                        <small class="fw-bold">Has Accepted Response</small>
                    </div>
                }

                <header>
                    <h3 class="h3">
                        <a href="@discussion.LinkPath" rel="nofollow"
                            class="text-dark text-decoration-none qa-question-link"
                            aria-describedby="date-@discussion.ID author-@discussion.ID">
                            @discussion.Title
                        </a>
                    </h3>

                    <div class="d-none d-md-block">
                        <div id="author-@discussion.ID" class="mb-2">
                            <vc:author author="discussion.Author" />
                        </div>
                        <time id="date-@discussion.ID" datetime="@discussion.DateCreated.ToString("yyyy-MM-ddTHH:mm:ss")"
                            class="text-muted small">
                            Discussion created<br> @discussion.DateCreated.ToString("d", View.Culture)
                            @discussion.DateCreated.ToString("t")
                        </time>
                    </div>
                </header>
            </div>
            @{
                string responseText = discussion.ResponseCount switch
                {
                    0 or > 1 => "responses",
                    1 => "response",
                    _ => ""
                };
            }
            <div id="responses-@discussion.ID" class="d-none d-md-flex flex-column justify-content-between text-end ms-auto"
                aria-label="@discussion.ResponseCount @responseText">
                <div class="fs-5">
                    <span class="text-secondary fw-bold lh-sm">@discussion.ResponseCount</span>
                    @responseText
                </div>

                @if (discussion.ResponseCount > 0)
                {
                    <div class="mt-1">
                        <time datetime="@discussion.LatestResponseDate.ToString("yyyy-MM-ddTHH:mm:ss")"
                            class="text-muted small">
                            Latest response<br>
                            <span class="text-nowrap">@discussion.LatestResponseDate.ToString("d", View.Culture)
                                @discussion.LatestResponseDate.ToString("t")
                            </span>
                        </time>
                    </div>
                }
            </div>
        </div>
        <footer style="grid-area: card-footer;" class="d-flex justify-content-between align-items-start">
            <div>
                <div class="d-md-none">
                    <vc:author author="discussion.Author" />
                    <time datetime="@discussion.DateCreated.ToString("yyyy-MM-ddTHH:mm:ss")" class="text-muted small">
                        Discussion created<br> @discussion.DateCreated.ToString("d", View.Culture)
                        @discussion.DateCreated.ToString("t")
                    </time>
                </div>
                @if (discussion.Tags.Count > 0)
                {
                    <div class="d-flex align-items-end mt-2">
                        <vc:tag-list tags="discussion.Tags" variant="Secondary" aria-label="Discussion topics" />
                    </div>
                }
            </div>
            <div id="responses-m-@discussion.ID" class="d-block d-md-none text-end text-md-center ms-auto"
                aria-label="@discussion.ResponseCount @responseText">
                <div class="fs-5 text-nowrap">
                    <span class="text-secondary fw-bold lh-sm">@discussion.ResponseCount</span>
                    @responseText
                </div>


                @if (discussion.ResponseCount > 0)
                {
                    <div class="mt-1">
                        <time datetime="@discussion.LatestResponseDate.ToString("yyyy-MM-ddTHH:mm:ss")"
                            class="text-muted small">
                            Latest response<br>
                            <span class="text-nowrap">@discussion.LatestResponseDate.ToString("d", View.Culture)
                                @discussion.LatestResponseDate.ToString("t")
                            </span>
                        </time>
                    </div>
                }
            </div>
        </footer>
    </article>
}

@if (Model.Discussions.Count == 0 && Model.TotalPages == 0)
{
    <div class="d-flex justify-content-center mt-5">
        <p>No results could be found.</p>
    </div>
}

<vc:pagination model="Model" />

<script type="module">
    asyncReady(async () => {
        const path = @JSEncoder.EncodeToJson(ClientAssets.ViteAssetPath("js/search.js"));
        const search = await import(path);

        search.initSearch({
            formElemID: 'search'
        });
    });
</script>