@using Kentico.Content.Web.Mvc

@model Kentico.Community.Portal.Web.Features.Integrations.IntegrationsListViewModel

<div class="section pb-7" x-data="{ searchTerm: '', searchType: 'all' }">
    <div class="container">
        <form method="get" id="integrationsSearchForm" role="search" aria-label="Search integrations">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-lg-7">
                    <div>
                        <input type="text" class="form-control search rounded-pill"
                            placeholder="Search by name or description"
                            aria-label="Search integrations by name or description" aria-describedby="submitSearch"
                            x-model="searchTerm">
                    </div>
                    <div class="w-100 mt-3">
                        <label for="integrationType">Filter by type</label>
                        <select id="integrationType" class="form-select form-select-sm w-auto d-inline"
                            x-model="searchType" aria-label="Filter integrations by type">
                            <option value="all">(All types)</option>
                            @foreach (var type in Model.IntegrationTypes)
                            {
                                <option value="@type.Name">@type.Title</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center gap-3 mt-3">

            </div>
        </form>
    </div>
    <div class="container">
        <div class="row gx-lg-6 gx-xxl-7 mt-sm-n2 mt-lg-n4">
            @foreach (var item in Model.Items)
            {
                <div class="col-sm-6 col-lg-4 mt-3 mt-sm-5 mt-lg-6" x-data='@item.MetadataJSON'
                    x-show='(title.includes(searchTerm.toLowerCase()) || description.includes(searchTerm.toLowerCase())) && (searchType === "all" || searchType === type)'>
                    <article class="border rounded-3 p-3 d-flex flex-column h-100 widget-card"
                        aria-label="Integration: @item.Title">
                        @if (item.Logo.TryGetValue(out var logo))
                        {
                            <div class="text-center mb-3">
                                <img xpc-image="logo" class="img-fluid" style="max-width: 60px; max-height: 60px;"
                                    alt="@item.Title logo" />
                            </div>
                        }
                        <h3 class="h3 mt-2 pt-1">@item.Title</h3>
                        <p>
                            <small class="text-muted">
                                @item.Type.Title
                            </small>
                        </p>

                        @if (item.AuthorLink.TryGetValue(out var link))
                        {
                            <p class="mt-2">by
                                <small>
                                    <a href="@link.URL" aria-label="View @link.Label's profile">@link.Label</a>

                                    @if (item.Business.TryGetValue(out var business))
                                    {
                                        <text>from</text>

                                        @if (business.URL.TryGetValue(out string? url))
                                        {
                                            <a href="@url" aria-label="Visit @business.Label website">@business.Label</a>
                                        }
                                        else
                                        {
                                            <text>@business.Label</text>
                                        }
                                    }
                                </small>
                            </p>
                        }

                        <p class="mt-2 flex-grow-1">@item.ShortDescription</p>

                        <div class="d-flex justify-content-around mt-3">
                            @if (item.RepositoryURL.TryGetValue(out string? repositoryURL))
                            {
                                <a class="text-primary text-decoration-none widget-card-link" href="@repositoryURL"
                                    aria-label="View @item.Title source code repository" rel="noopener noreferrer"
                                    target="_blank">
                                    Repository
                                    <svg class="ms-1" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                                        <use xlink:href="/img/icons.svg#chevron-right" asp-append-version></use>
                                    </svg>
                                </a>
                            }
                            @if (item.LibraryURL.TryGetValue(out string? libraryURL))
                            {
                                <a class="text-primary text-decoration-none widget-card-link" href="@libraryURL"
                                    aria-label="View @item.Title library documentation" rel="noopener noreferrer"
                                    target="_blank">
                                    Library
                                    <svg class="ms-1" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                                        <use xlink:href="/img/icons.svg#chevron-right" asp-append-version></use>
                                    </svg>
                                </a>
                            }
                        </div>
                    </article>
                </div>
            }
        </div>
    </div>
</div>