@model Kentico.Community.Portal.Web.Features.QAndA.QAndASearchViewModel

<section class="c-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4">
                <a href="/q-and-a/new-question" rel="nofollow"
                    class="btn btn-outline-primary w-100 d-inline-block">
                    <svg class="c-icon me-1">
                        <use xlink:href="/img/icons.svg#plus-circle" asp-append-version></use>
                    </svg>
                    @HtmlLocalizer["NEW QUESTION"]
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10 col-xxl-9 d-flex flex-column gap-2">
                <form method="get" id="qAndASearchForm">
                    <div class="row mt-4"> 
                        <div class="input-group">
                            <input asp-for="Query"
                                    type="text"
                                    class="form-control search rounded-pill"
                                    placeholder="Search by tag, name or phrase"
                                    aria-label="Search"
                                    aria-describedby="submitSearch">
                            <button class="btn btn-primary text-uppercase" type="submit" id="submitSearch">Search</button>
                        </div>
                        <div class="c-group tags mt-3">
                            <label for="" class="me-3">Discussion Type</label>
                            @foreach (var discussionType in Model.DiscussionTypes)
                            {
                                string colorClass = discussionType.IsSelected
                                ? "secondary"
                                : "gray";
                                string selectedAttr = discussionType.IsSelected
                                ? "facet-selected"
                                : "";
                                <button class="c-tag btn focus-ring @colorClass" facet-value="@discussionType.Label.ToLower()" @selectedAttr
                                    facet-type="discussionType"
                                    style="--bs-focus-ring-color: rgba(var(--bs-secondary-rgb), .25)">
                                    <span>@discussionType.Label (@discussionType.Value)</span>
                                </button>
                            }
                        </div>
                        <div class="d-flex justify-content-between align-items-center flex-wrap gap-3 mt-3">
                            <div class="d-flex justify-content-between align-items-center gap-3">
                                <label asp-for="SortBy" class="form-label text-nowrap mb-0">@HtmlLocalizer["Sort by"]</label>
                                <select asp-for="SortBy" class="form-select form-select-sm w-auto" search-sort-by>
                                    <option value="relevance">@HtmlLocalizer["Relevance"]</option>
                                    <option value="publishdate">@HtmlLocalizer["Latest question"]</option>
                                    <option value="responsedate">@HtmlLocalizer["Latest response"]</option>
                                </select>
                            </div>

                            <div class="form-check">
                                @*
                                    Using the long form modeling binding instead of asp-for so that we don't generate the hidden input
                                    to handle submitting a value when the checkbox is unchecked. This would be fine for a POST, but
                                    it clutters up the URL with a GET

                                    See: https://www.learnrazorpages.com/razor-pages/forms/checkboxes#razor-checkboxes
                                *@
                                <input type="checkbox" class="form-check-input" name="OnlyAcceptedResponses" id="OnlyAcceptedResponses" checked="@(Model.OnlyAcceptedResponses)" search-checkbox>
                                <label class="form-check-label" asp-for="OnlyAcceptedResponses">
                                    Only Accepted Responses
                                </label>
                            </div>

                        </div>
                    </div>
                    <input asp-for="@Model.DiscussionType" selected-facet-value="discussionType" />
                    <input asp-for="Page" />
                </form>

                @if (Model.Questions.Count == 0 && Model.TotalPages == 0)
                {
                    <div>
                        <p>No results could be found.</p>
                    </div>
                }

                @foreach (var question in Model.Questions)
                {
                    <div class="c-card question default-border overflow-y-auto d-grid @(question.HasAcceptedResponse ? "success" : "")">
                        <div class="c-card_content">
                            @if (question.HasAcceptedResponse)
                            {
                                <div class="fs-sm-4 text-success mb-1">
                                    <svg class="c-icon mt-1 me-2 ">
                                        <use xlink:href="/img/icons.svg#check" asp-append-version></use>
                                    </svg><small><b>Has Accepted Response</b></small>
                                </div>
                            }
                            <div class="c-card_title">
                                <h3 class="h3 mb-1">
                                    <a href="@question.LinkPath" rel="nofollow">@question.Title</a>
                                </h3>
                            </div>

                            <div class="mb-2 d-none d-sm-block">
                                <vc:author author="question.Author" />
                                <small>Discussion created<br> @question.DateCreated.ToString("d", View.Culture) @question.DateCreated.ToString("t")<br></small>
                            </div>
                        </div>
                        <div class="c-card_footer">
                            <div class="mb-2 d-sm-none">
                                <vc:author author="question.Author" />
                                <small>Discussion created<br> @question.DateCreated.ToString("d", View.Culture) @question.DateCreated.ToString("t")<br></small>
                            </div>
                            <div class="text-end text-sm-center">
                                <span class="fs-4 fs-sm-1 text-secondary fw-bold lh-sm">@question.ResponseCount</span>
                                <br class="d-none d-sm-block">
                                <span class="fs-4 fs-sm-6">
                                    @{
                                        string text = question.ResponseCount switch
                                        {
                                            0 or > 1 => "Responses",
                                            1 => "Response",
                                            _ => ""
                                        };
                                        <text>@text</text>
                                    }
                                </span>

                                @if (question.ResponseCount > 0)
                                {
                                    <div>
                                        <small>Latest response
                                        <br> @question.LatestResponseDate.ToString("d", View.Culture) @question.LatestResponseDate.ToString("t")</small>
                                    </div>
                                }
                            </div>
                            
                            
                        </div>
                    </div>
                }
            </div>
            <vc:pagination model="Model" />
        </div>
    </div>
</section>