@using Kentico.Community.Portal.Web.Components.ViewComponents.Navigation

@model NotificationTrayViewModel

<div id="notificationTray" class="notification-tray" notification-total="@Model.Messages.Count">
    <div class="notification-tray-header">
        <h5 class="mb-0">Notifications</h5>
        <button id="notificationsClose" class="btn-close btn-close-dark" type="button" aria-label="Close tray"
            title="Close tray"></button>
    </div>
    <div class="notification-tray-body">
        @if (Model.Messages.Count == 0)
        {
            <div class="notification-item">
                <p>You have no notifications.</p>
            </div>
        }
        @foreach (var notification in Model.Messages)
        {
            <form hx-post hx-route="@NotificationController.ROUTE_CONFIRM_ALERT" hx-route-messageGUID="@notification.GUID"
                hx-swap="outerHTML" class="notification-item d-flex gap-2">
                <div>
                    @if (notification.Title.TryGetValue(out string? title))
                    {
                        <span class="me-1"><strong>@title</strong></span>
                    }
                    @notification.HTML
                </div>
                <button class="btn-close btn-close-dark" type="submit" aria-label="Close tray"></button>
            </form>
        }
    </div>
</div>
