@using Kentico.Community.Portal.Web.Components.PageBuilder.Sections.SingleColumn

@model SingleColumnSectionViewModel

@{
    string containerClasses = Model.Layout switch
    {
        Layouts.FullWidth_ContentContained or Layouts.FullWidth_EdgeToEdge or Layouts.FullWidth_ContentStandard =>
"container-fluid",
        Layouts.Standard or _ => "container",
    };

    string alignmentClasses = Model.Alignment switch
    {
        Alignments.Right => "text-right",
        Alignments.Center => "text-center",
        Alignments.Left or _ => "text-left",
    };

    string paddingTopClasses = Model.PaddingTop switch
    {
        VerticalPaddings.Small => "pt-1",
        VerticalPaddings.Medium => "pt-2",
        VerticalPaddings.Large => "pt-3",
        VerticalPaddings.None or _ => "",
    };

    string paddingBottomClasses = Model.PaddingBottom switch
    {
        VerticalPaddings.Small => "pb-1",
        VerticalPaddings.Medium => "pb-2",
        VerticalPaddings.Large => "pb-3",
        VerticalPaddings.None or _ => "",
    };

    string backgroundColorClases = Model.BackgroundColor switch
    {
        BackgroundColors.Dark => "bg-dark",
        BackgroundColors.Secondary_Light => "bg-purple-100",
        BackgroundColors.Light => "bg-light",
        BackgroundColors.White or _ => "",
    };

    string rowClasses = Model.Layout switch
    {
        Layouts.FullWidth_EdgeToEdge => "justify-content-center",
        Layouts.FullWidth_ContentContained or Layouts.Standard or _ => "row justify-content-center"
    };

    string colClasses = Model.Layout switch
    {
        Layouts.FullWidth_EdgeToEdge => "col-lg-12",
        Layouts.FullWidth_ContentContained or Layouts.Standard or Layouts.FullWidth_ContentStandard or _ => "col-md-10 col-lg-9 col-xl-8"
    };

    bool showCarouselEditMode = Model.DisplayAsCarousel && Model.IsEditMode;
    bool showCarouselPreviewMode = Model.DisplayAsCarousel && !Model.IsEditMode;
    string carouselContainerClasses = Model.Layout == Layouts.FullWidth_ContentStandard ? "container" : string.Empty;
}

<div class="@containerClasses @paddingTopClasses @paddingBottomClasses @backgroundColorClases @alignmentClasses"
     xpc-preview-outline="Single Column Section">
    @if (showCarouselEditMode)
    {
        <div class="@rowClasses">
            <div class="@colClasses">
                <div class="carousel-widget-edit-stack d-flex flex-column gap-3">
                    @for (int i = 0; i < Model.NumberOfSlides; i++)
                    {
                        <div class="carousel-widget-edit-stack__slide p-3">
                            <div class="carousel-widget-edit-stack__label fw-semibold text-uppercase mb-3">
                                Slide @(i + 1) of @Model.NumberOfSlides
                            </div>
                            <widget-zone zone-name="@($"slide-{i + 1}")" />
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else if (showCarouselPreviewMode)
    {
        <div class="@carouselContainerClasses">
            <div class="@rowClasses">
                <div class="@colClasses">
                    <partial name="~/Components/PageBuilder/Sections/SingleColumn/_SingleColumnCarousel.cshtml"
                             model="Model" />
                </div>
            </div>
        </div>
    }
    else if (Model.Layout == Layouts.FullWidth_ContentStandard)
    {
        <div class="container">
            <div class="@rowClasses">
                <div class="@colClasses">
                    <widget-zone />
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="@rowClasses">
            <div class="@colClasses">
                <widget-zone />
            </div>
        </div>
    }
</div>