@model Kentico.Community.Portal.Web.Features.QAndA.QAndAPostQuestionViewModel

@{
    string wrapperElId = $"questionDetail_{Model.ID:N}";
}

<div id="@wrapperElId">
    <div>
        <h1 class="text-left k-dot h3">@Model.Title</h1>

        <div class="c-card default-border mt-3 question mb-3">
            <div class="c-card_inner">
                <div class="c-card_content">
                    <div class="mb-3 d-flex justify-content-between align-items-center">
                        <vc:author author="Model.Author" />
                        <span>@Model.DateCreated.ToString("yyyy/MM/dd") @Model.DateCreated.ToString("t")</span>
                    </div>

                    <div class="mb-3 member-generated-content overflow-auto" hx-disable>
                        @Model.HTMLSanitizedContentHTML
                    </div>
                </div>

                @if (Model.DXTopics.Count > 0)
                {
                    <div class="c-card_tags d-flex align-items-end">
                        <span class="me-2 align-self-start">Tags:</span>
                        <div class="c-group tags">
                            @foreach (string topic in Model.DXTopics)
                            {
                                <span class="c-tag secondary invert" title="Topic - @topic">@topic</span>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="d-flex gap-1">
        @if (Model.Permissions.CanEdit)
        {
            <button type="button" class="btn btn-sm btn-outline-secondary" hx-get hx-controller="QAndAQuestion"
                hx-action="DisplayEditQuestionForm" hx-route-questionID="@Model.ID" hx-swap="outerHTML"
                hx-target="#@wrapperElId">
                Edit Question
            </button>
        }
        @if (Model.Permissions.CanDelete)
        {
            <form method="post" hx-post hx-controller="QAndAQuestion" hx-action="DeleteQuestion"
                hx-route-questionID="@Model.ID">
                <button type="submit" class="btn btn-sm btn-outline-danger">
                    Delete
                </button>
            </form>
        }
    </div>
</div>

@if (Context.Request.IsHtmx())
{
    <script type="module">
        const el = document.querySelector('#@wrapperElId');
        window.Prism.highlightAllUnder(el);
    </script>
}
