@model Kentico.Community.Portal.Web.Features.QAndA.QAndAPostQuestionViewModel

@{
    string wrapperElId = $"questionDetail_{Model.ID:N}";
}

<div id="@wrapperElId">
    <div>
        <h1 class="text-left k-dot h3">@Model.Title</h1>

        <article class="border rounded-3 p-3 mt-3 mb-3">
            <div class="mb-3 d-flex justify-content-between align-items-center" data-ktc-search-exclude>
                <vc:author author="Model.Author" />
                <time xpc-datetime="Model.DateCreated" class="text-muted small"></time>
            </div>

            <div class="mb-3 member-generated-content overflow-auto w-100 text-break" hx-disable>
                @Model.HTMLSanitizedContentHTML
            </div>

            @if (Model.DXTopics.Count > 0)
            {
                <div class="d-flex align-items-end">
                    <span class="me-2 align-self-start">Tags:</span>
                    <vc:tag-list tags="Model.DXTopics" variant="Secondary" aria-label="Question topics" />
                </div>
            }
        </article>
    </div>

    <div class="d-flex gap-1 align-items-center">
        @if (User.Identity?.IsAuthenticated == true)
        {
            <partial name="~/Features/QAndA/_QAndASubscribeButton.cshtml" model="@((Model.ID, Model.IsSubscribed))" />
        }
        <div class="d-flex gap-1 ms-auto">
            @if (Model.Permissions.Edit)
            {
                <button type="button" class="btn btn-sm btn-outline-secondary" hx-get hx-controller="QAndAQuestion"
                    hx-action="DisplayEditQuestionForm" hx-route-questionID="@Model.ID" hx-swap="outerHTML"
                    hx-target="#@wrapperElId">
                    Edit Question
                </button>
            }
            @if (Model.Permissions.Delete)
            {
                <form method="post" hx-post hx-controller="QAndAQuestion" hx-action="DeleteQuestion"
                    hx-confirm="Do you want to delete this question?" hx-route-questionID="@Model.ID">
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                        Delete
                    </button>
                </form>
            }
        </div>
    </div>
</div>

@if (Context.Request.IsHtmx())
{
    <script type="module">
        const el = document.querySelector('#@wrapperElId');
        window.Prism.highlightAllUnder(el);
    </script>
}